{% extends "showcase_projects/base.html" %}

{% block title %}Проекты под моим руководством{% endblock %}



{% block content %}


<div class="container-fluid">
    <div class="row">
        
        <div class="order-md-2">
            <h3>Проекты под моим руководством</h3>
            {% if showButtonCreateProject %}
                <a href="{% url 'order-create' %}" class="btn btn-primary mt-3">Добавить заявку на проект</a>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-2 g-3 mt-3">
                {% if projects %}
                    {% for project in projects %}
                        {% include "showcase_projects/project_card.html" %}
                    {% endfor %}
                {% else %}
                <p>Проектов нет</p>
                {% endif %}
            </div>
            <div class="pagination justify-content-center mt-4">

                <div id="pagination-buttons-container">
                </div>
            </div>
    
        </div>
    </div>
</div>
<div class="pagination justify-content-center mt-4">

    <div id="pagination-buttons-container">
        <!-- Кнопки пагинации будут отображены здесь -->
    </div>
</div>
{% endblock content %}