<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{ order.title }}</h5>
            {% if order.customer == user.customer %}
                <p class="card-title">
                    Статус: {{ order.get_status_display }}
                </p>
                {% if order.status != 'accepted' %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' order.id %}">Редактировать</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' order.id %}">Удалить</a>
                {% endif %}
            {% endif %}

            {% if administrator == True %}
                <p class="card-title">
                    Заказчик: {{ order.customer }}
                </p>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-create' order.id %}">Принять</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'administrator-order-delete' order.id %}">Удалить</a>
            {% endif %}
                
        </div>
    </div>
</div>