{% extends "showcase_projects/base.html" %}

{% block title %}Проект{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
<div class="container mt-5">
    <h2>Ограничения по времени</h2>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Время начала</th>
                    <th>Время окончания</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        <td>{{ form.title }}</td>
                        <td>{{ form.time_start }}</td>
                        <td>{{ form.time_finish }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Save</button>
    </form>
</div>

<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
    {% for form in forms %}
        {{ form.date }}
    {% endfor %}
    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  
  <script>
    $(function () {
      $("#datetimepicker1").datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
      });
    });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
{% endblock content %}